[Unit]
Description=wonderwall client daemon
After=syslog.target network-online.target

[Service]
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=wonderwalld
EnvironmentFile=/etc/default/wonderwall
ExecStart=/bin/sh -c "/usr/bin/stdbuf -oL /opt/wonderwall/bin/wonderwalld $BROKER_HOSTNAME $BROKER_PORT $BROKER_USERNAME $BROKER_PASSWORD $BROKER_QUEUE"
WorkingDirectory=/opt/wonderwall
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target